.conteiner{
max-width:1440px;
width: 100%;
margin: auto;
background-position: center;
border:#FA793C 10px solid;
}
/* header */
@media (max-width:1440px){
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 130px 0px;
    background-color: antiquewhite;
    
}
.header_div{
    display: flex;
    color: #FA793C;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    column-gap: 14px;
}
.header_ul{
    display: flex;
    color: #000;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    column-gap: 32px;
}
/* section1 */
.section1{
    width: 100%;
height: 550px;
 background-image: url(../image/section1_cover.png);
 background-position: center;
 align-items: center;  
}
.section1_h3{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 75px; 
display: flex;
padding-top: 185px;
align-items: center;
    justify-content: center;
}
.section1_p{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 130px 186px;
}
/* section 2 */
.section2{
    width: calc(1180 / 1440 * 100%);
    height: 453px;
    padding: 0px 130px 0px;
}
.section2_h3{
    margin-top: 130px;
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 34px;
}
.section2_div{
    display: flex;
    column-gap: 20px;
    background-position: center;
}
.section2_figure{
    border: 1px solid #000;
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items:start;
    column-gap: 16px;
}
.section2_h4{
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 500; */
    /* line-height: 24px; */
}
.section2_p{
    width: 348px;
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.section2_figcaption{
    
    padding: 24px 0px 0px 0px;
}
/* section 3 */
.section3{
    margin-top: 130px;
    width:calc(1180 / 1440 * 100%);
    height: 479px;
    padding-left: 130px;
}
.section3_h3{
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 34px;
}
.section3_div{
    width: 780px;
    height: 400px;
    background-image: url(../image/photograph1.png);
    background-repeat: no-repeat;
    padding-top: 143px;
    padding-left: 37px;
    padding-inline: 16px;

}
.section3_div_h3{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; 
   
}
.section3_p{
    width: 706px;
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* footer */
.footer_div { 
    display: flex;
    width: 100%;
    padding: 31px 0px;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    background-color: #000;
    margin-top: 130px;
}
.footer_h3{
    color: #FFF;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-position: center;
} 
}